<h1>New Student</h1>

<% if !Student.exists?(:email => current_user.email) %>

<%= render 'form', student: @student %>

<%= link_to 'Back', students_path %>
<% else %>
<%controller.redirect_to '/students'%>
<% end %>