
/* universal */

a {
    color: white;
    font-size: 20px;
}

.links {
    color:#fff;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}
#logo:hover {
    color: #fff;
    text-decoration: none;
}
    
/* footer */
footer {
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: black;
    font-size: 18px;

}
    
footer a.fff {
    color: black;
    font-size: 18px;
}
    
footer a:hover {
    color: darkcyan;
}
    
footer small {
    float: left;
}
    
footer ul {
    float: right;
    list-style: none;
}
    
footer ul li {
    float: left;
    margin-left: 15px;
}
